

/*navbar*/   
a.nav-link{
    color: #D0AB6F;
    font-weight: 700;
    font-size: 25px;
    border-radius: 30px;
}
.nav-link:hover{
    background-color: #184224;
    color: #D0AB6F;
    border-radius: 30px;
}
nav{
    background: #000000;
}


/*section1*/
.presentation2{
    background: #D0AB6F;
}

.presentation{
    background: #000;
    padding: 100px;
    
}
.text{
    margin: 1rem;
}
#titre1{
    font-weight: 900;
    color: #D0AB6F;
    font-family: Georgia;
    font-weight: bold;
    
}

.rouge{
    color: #D0AB6F;
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.5rem;
}
.police{
    color: #D0AB6F;
    font-family: Georgia;
    font-weight: bold;
    font-size: 2rem;

}
.bouton{
    background: #D0AB6F;
    color: #000 ;
    border-radius: 30px;
    padding: 1rem;
    border: #000;
}
.bouton:hover{
    background: #184224;
    color: #D0AB6F;
}



/*section2*/
.section2{
    padding: 0;
    margin: 0;
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.section3{
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#titre2{
    padding: 20px;
    color: #D0AB6F;
}
#titre3{
    padding: 20px;
    color: #D0AB6F;
}
#transparent{
    color: rgba(208, 171, 111, 0.2);
}
.color-white{
    color: #D0AB6F;
}
.flip-box{
    transform-style: preserve-3d;
    
}
.flip-box-front,
.flip-box-back{
    background-size: cover ;
    background-position: center;
    border-radius: 8px;
    min-height: 490px;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    backface-visibility: hidden;
}
#taille{
    min-height: 800px;
}
#rem {
    min-height: 800px;
}

.flip-box-front{
    transform: rotateY(0deg);
    transform-style: preserve-3d ;
}
.flip-box:hover .flip-box-front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}
.flip-box-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-back{
    transform: rotate(0deg);
    transform-style: preserve-3d;
}
.flip-box h3{
    font-size: 2rem;
}
.flip-box .inner{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 60px;
    outline: 1px solid transparent;
    perspective: inherit;
    transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.skills{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 3rem 0;
    justify-content: space-around;

}
.skills li{
    background: transparent;
}
.skills i{
    font-size: 6rem;

}


.progres{
    text-decoration: none;
    list-style: none;
}

li{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}

#html{
    color: #E54C21;
}
#css{
    color: #214CE5;
}
#js{
    color: #F0DC4E;
}
#wordpress{
    color: #0077AA;
}
#bootstrap{
    color: #8A0AFC;
}
#java{
    color: rgba(225, 31, 33, 1);
    
}
#swift{
color: rgba(240, 80, 53, 0.3 );
}
#vuejs{
    color: #41B883;
}
#docker{
    color: rgba(15, 182, 236, 0.3);
}
#springboot{
    color: rgba(109, 179, 63, 1);
}
#mysql{
    color: rgba(0, 97, 138, 0.3);

}
#ts{
    color: rgba(45, 121, 199, 1);

}
#flutter{
    color: rgba(47, 184, 246, 0.3);

}

.dotted{
    color: #D0AB6F;
    
}

/*Section3*/
.flip-box-header{
    width: 100%;
    font-size: 1em;

}

.projetbox{
    display: flex;
    
}

.box-item{
    padding: 20px;
}
.project{
    text-transform: uppercase;
}

#pro1{
    width: 90%;

}
#pro1:hover{
    width: 100%;
    transition: 1s ease;
}
#pro2{
    width: 90%;

}
#pro2:hover{
    width: 100%;
    transition: 1s ease;
}
#pro3{
    width: 90%;

}
#pro3:hover{
    width: 100%;
    transition: 1s ease;
}
#pro4{
    width: 90%;

}
#pro4:hover{
    width: 100%;
    transition: 1s ease;
}
#pro5{
    width: 90%;

}
#pro5:hover{
    width: 100%;
    transition: 1s ease;
}
#pro6{
    width: 90%;

}
#pro6:hover{
    width: 100%;
    transition: 1s ease;
}
#pro7{
    width: 90%;

}
#pro7:hover{
    width: 100%;
    transition: 1s ease;
}
#pro8{
    width: 90%;

}
#pro8:hover{
    width: 100%;
    transition: 1s ease;
}
#pro7{
    width: 90%;

}
#pro7:hover{
    width: 100%;
    transition: 1s ease;
}
#pro9{
    width: 90%;

}
#pro9:hover{
    width: 100%;
    transition: 1s ease;
}

#padding {
    padding: 0;
}
    
    
.seemore{
    border-radius: 30px;
    background: #184224 ;
    color: #D0AB6F;
    position: relative;
    font-size: 1.5rem;
    width: 10rem;

}
.seemore:hover{
    border-radius: 30px;
    background-color: #D0AB6F;
    border: solid #184224;
    color: #184224;
}
.description{
    font-size: 22px;
}




/*footer*/
footer{
    background: #000;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color 2s ease;
}
.socials a:hover i{
    color: #D0AB6F;
}
.footer-bottom{
    background: #000;
    
    text-align: center;
    padding: 20px 0;
    
}

.footer-bottom p{
    font-size: 14px ;
    word-spacing:2px ;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    font-weight: 200;
    opacity: .5;

}

#canvas {
    width: 100%; /* Définissez la largeur du canvas à 100% */
    height: 100%; /* Définissez la hauteur du canvas à 100% */
}

@media screen and (min-width:990px) and (max-width:1300px){
    .flip-box-header{
        font-size: 0.75rem;
        
    }


    .seemore{
        padding: 0 2rem;
    }
    .flip-box-header h3{
        font-size: 0.75rem;
    }
}
.flip-box-header {
    font-weight: 900;
}
